footer{
    background: #3E5058;
    width: 100%;
    padding: 10px 0 40px 0;
    .main-inner{
        .footer-flex{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .fcol{
                &.center{
                    align-self: center;
                    justify-self: center;
                }
                flex: 1;
                min-width: 235px;
                margin-top: 40px;
                img,svg,g{
                    max-width: 100%;
                }
                h3, ul li:first-of-type{
                    font-size: 18px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    line-height: 34px;
                }
                p, ul li:not(:first-of-type){
                    font-size: 14px;
                    line-height: 34px;
                    color: #FFF;
                }
                ul{
                    padding: 0;
                    li{
                        a{
                            color: #FFF;
                            text-decoration: none;
                        }
                    }
                }
                h3,p{
                    margin: 0;
                }
            }
        }
    }
}