.social-media{
    background-color:#5e8291 !important;
    height: 100px;
    position: relative;
    .social-inner{
        height: 100%;
        position: relative;
        h3{
            color: white;
            
            position: absolute;
            left: 0;
            top: 50%;
        
            transform: translateY(-50%);
            margin: 0;
            }
            
            .social-icons{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                img{
                    margin-left: 7.5px;
                    margin-right: 7.5px;
                    max-width: 40px;
                    width: 100%;
                }
            }
    }
     

}
@media (max-width: 540px){
    .social-media{
        .social-inner{
            h3{
                display: none;
            }
            .social-icons{
                left: 50% !important;
                transform: translate(-50%, -50%) !important;
                text-align: center;
                width: 100%;
            }
        }
    }
}