//Colors
$black: #333333;
$white: #FFF;

//Breakpoints
  $tablet-breakpoint: 850px;
  $mobile-breakpoint: 500px;
  $nav-breakpoint: 850px;

//Widths
  $main-w: 100%;
  $main-inner-w: 1104px; 

  $header-inner-w: 1104px;

  $products-inner-w: 1104px;

  $text-inner-w: 801px;

  $video-width: 1104px;
  $half-grid-inner-w: 1104px;
  $logowall-inner-w: 1104px;
  $footer-inner-w: 1104px;





//Constant sizes
  $component: 72px;
  $header-margin: 0px;



//Fonts
  $font-family: 'Avenir', sans-serif;
  $font-family-header: 'Glacial-Indifference', sans-serif;
  $bold-weight: 400;
  $text-weight: 400;