//Colors
$black: #333333;
$white: #FFF;
$green: #ADCB08;

//Breakpoints
  $tablet-breakpoint: 850px;
  $mobile-breakpoint: 500px;
  $nav-breakpoint: 850px;

//Widths
  $main-w: 100%;
  $main-inner-w: 940px; 

  $header-inner-w: calc(100% - 62px);

  $footer-inner-w: 1104px;





//Constant sizes
  $component: 0px;
  $header-margin: 0px;



//Fonts
  $font-family: 'Avenir', sans-serif;
  $font-family-header: 'Avenir', sans-serif;
  $bold-weight: 400;
  $text-weight: 400;