.button {
  font-family: Avenir-Book;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 7px 40px;
  border: 1px solid #FFF;
  border-radius: 54px;
  text-decoration: none; }

.notice {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #FFF; }
  .notice.green {
    background: green; }
  .notice.red {
    background: red; }

@font-face {
  font-family: 'Avenir-light';
  src: url("../fonts/AvenirLTStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/AvenirLTStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir-bold';
  src: url("../fonts/AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

* {
  font-family: 'Avenir', 'sans-serif'; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir-bold', 'sans-serif';
  font-weight: 600; }

.underline-g {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #ADCB08; }

a {
  text-decoration: none; }

header {
  width: 100%;
  position: fixed;
  z-index: 9997;
  top: 0;
  left: 0;
  color: #FFF;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  header.bg {
    background: white;
    -webkit-box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.05); }
    header.bg .inner {
      color: #333333 !important; }
      header.bg .inner .logo1 {
        display: none; }
      header.bg .inner .logo2 {
        display: block !important; }
      header.bg .inner .mobile-nav-open .bars .bar-1,
      header.bg .inner .mobile-nav-open .bars .bar-2,
      header.bg .inner .mobile-nav-open .bars .bar-3 {
        background-color: #000 !important; }
  header .inner {
    width: calc(100% - 40px);
    max-width: calc(100% - 62px);
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 70px; }
    header .inner .logo1 {
      height: 34px;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    header .inner .logo2 {
      height: 34px;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: none; }
    header .inner .desktop-nav {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      header .inner .desktop-nav ul {
        padding: 0; }
        header .inner .desktop-nav ul li {
          display: inline;
          margin-left: 20px;
          overflow: visible; }
          header .inner .desktop-nav ul li a {
            font-weight: 500;
            text-transform: uppercase !important;
            font-size: 15px;
            padding-top: 4px;
            margin-top: -4px;
            color: inherit;
            text-decoration: none; }
        header .inner .desktop-nav ul .nav_item_current {
          border-bottom: 1px solid #ADCB08;
          padding-bottom: 2px; }
    header .inner .mobile-nav-open {
      display: none;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 28px;
      height: 20px;
      -webkit-transition: 0.2s ease;
      -o-transition: 0.2s ease;
      transition: 0.2s ease; }
      header .inner .mobile-nav-open .bars {
        width: 100%;
        height: 100%;
        position: relative;
        -webkit-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
        header .inner .mobile-nav-open .bars .bar-1,
        header .inner .mobile-nav-open .bars .bar-2,
        header .inner .mobile-nav-open .bars .bar-3 {
          -webkit-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          transition: 0.2s ease;
          width: 100%;
          height: 3px;
          display: block;
          background: #FFF;
          position: absolute;
          left: 0; }
        header .inner .mobile-nav-open .bars .bar-1 {
          top: 0; }
        header .inner .mobile-nav-open .bars .bar-2 {
          top: calc(50% - 1.5px); }
        header .inner .mobile-nav-open .bars .bar-3 {
          bottom: 0; }
      header .inner .mobile-nav-open.close {
        height: 28px; }
        header .inner .mobile-nav-open.close .bars {
          overflow: hidden; }
          header .inner .mobile-nav-open.close .bars .bar-1 {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 50%;
            left: 0; }
          header .inner .mobile-nav-open.close .bars .bar-2 {
            left: -200%;
            opacity: 0; }
          header .inner .mobile-nav-open.close .bars .bar-3 {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: 0;
            left: unset;
            right: 0;
            top: 50%; }

.mobile-nav {
  display: none;
  position: fixed;
  top: 76px;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: calc(100% - 76px);
  background: white;
  color: #333333;
  overflow: auto;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }
  .mobile-nav ul {
    padding: 0;
    width: 100%;
    margin-top: 20px; }
    .mobile-nav ul li {
      text-align: center;
      margin-top: 30px;
      width: 100%; }
      .mobile-nav ul li a {
        font-size: 22px;
        font-weight: 400;
        width: 100%;
        color: #333333;
        text-transform: uppercase !important; }

@media (max-width: 850px) {
  .mobile-nav {
    display: none; }
    .mobile-nav.display {
      display: block !important; }
  .mobile-nav-open {
    display: block !important; }
  .desktop-nav {
    display: none !important; } }

@media (max-width: 850px) {
  header.bg {
    background-color: white; }
  header .inner {
    max-width: calc(100% - 40px); } }

@media (max-width: 500px) {
  header .inner {
    max-width: calc(100% - 40px); }
    header .inner .logo {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }

.single-post header,
.single-service header {
  background: white;
  -webkit-box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.05); }
  .single-post header .inner .logo1,
  .single-service header .inner .logo1 {
    display: none; }
  .single-post header .inner .logo2,
  .single-service header .inner .logo2 {
    display: block; }
  .single-post header .inner .desktop-nav nav ul li a,
  .single-service header .inner .desktop-nav nav ul li a {
    color: #000 !important; }

footer {
  background: #3E5058;
  width: 100%;
  padding: 10px 0 40px 0; }
  footer .main-inner .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .main-inner .footer-flex .fcol {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 235px;
      margin-top: 40px; }
      footer .main-inner .footer-flex .fcol.center {
        -ms-flex-item-align: center;
        align-self: center;
        justify-self: center; }
      footer .main-inner .footer-flex .fcol img, footer .main-inner .footer-flex .fcol svg, footer .main-inner .footer-flex .fcol g {
        max-width: 100%; }
      footer .main-inner .footer-flex .fcol h3, footer .main-inner .footer-flex .fcol ul li:first-of-type {
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 34px; }
      footer .main-inner .footer-flex .fcol p, footer .main-inner .footer-flex .fcol ul li:not(:first-of-type) {
        font-size: 14px;
        line-height: 34px;
        color: #FFF; }
      footer .main-inner .footer-flex .fcol ul {
        padding: 0; }
        footer .main-inner .footer-flex .fcol ul li a {
          color: #FFF;
          text-decoration: none; }
      footer .main-inner .footer-flex .fcol h3, footer .main-inner .footer-flex .fcol p {
        margin: 0; }

.grid-3 {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; }
  .grid-3 .grid-item {
    grid-column: span 1; }
  .grid-3 .grid-item-large {
    grid-column: span 2; }

@media (max-width: 850px) {
  .mobile-hide,
  .tablet-hide {
    display: none; } }

@media (min-width: 850px) {
  .desktop-hide {
    display: none; } }

.info-page {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 88px;
  margin-bottom: 40px; }
  .info-page .content-side {
    width: 100%;
    max-width: 650px; }
    .info-page .content-side .header-image {
      width: 100%;
      height: 280px;
      -o-object-fit: cover;
      object-fit: cover;
      overflow: hidden; }
  .info-page .sidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px; }

@media (max-width: 972px) {
  .info-page .content-side {
    max-width: unset !important; }
    .info-page .content-side .header-image {
      width: 100%; } }

.sidebar .contact {
  height: 240px;
  width: calc(100% - 40px);
  background: #5E8291;
  display: block;
  padding: 20px;
  color: #FFF;
  margin-bottom: 20px; }

.sidebar .show-all {
  border-bottom: 1px solid #ADCB08;
  margin-bottom: 10px; }
  .sidebar .show-all h2 {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    margin: 0; }
    .sidebar .show-all h2 a {
      font-size: 20px;
      color: #000000;
      letter-spacing: 0;
      margin: 0; }
      .sidebar .show-all h2 a:hover, .sidebar .show-all h2 a:focus {
        font-size: 20px;
        color: #000000;
        letter-spacing: 0;
        margin: 0; }

@media (max-width: 972px) {
  .sidebar {
    display: none; } }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

nav ul, nav li {
  list-style: none; }

nav ul {
  margin: 0; }

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block; }

.main-inner {
  width: calc(100% - 32px);
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding-left: 16px;
  padding-right: 16px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.component {
  position: relative; }
  .component .anchor {
    position: absolute;
    top: -76px; }

error.theme_error {
  width: 100%;
  display: block;
  background-color: red;
  color: white;
  text-align: left;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999; }

error.theme_error::before {
  content: "Theme returned the following non-fatal errors:"; }

error.theme_error::after {
  content: "To disable error tracking, disable Debug mode"; }

.component {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #FFF; }

#component_0 {
  margin-top: 0px;
  padding-top: 0; }

.component-h {
  text-align: center;
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 40px;
  color: #333333; }
  .component-h.h-text {
    margin-bottom: 25px; }

.component-sub-h {
  margin-top: 0;
  margin-bottom: 70px;
  text-align: center;
  color: #333333; }

.subaktuellt_1 {
  margin: 50px 0; }

a:hover {
  opacity: 0.8; }

.underline {
  text-decoration: underline; }

.bold {
  font-weight: 400; }

a.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10; }

.medium-size .news-card {
  width: 100%;
  height: 346px;
  display: block;
  position: relative; }
  .medium-size .news-card .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-color: #c8c8c8; }
  .medium-size .news-card .content {
    position: absolute;
    bottom: 25px;
    left: 15px;
    color: #FFF; }
    .medium-size .news-card .content label {
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 19px;
      padding-bottom: 4px;
      border-bottom: 1px solid #ADCB08;
      margin-bottom: 5px;
      display: inline-block; }
    .medium-size .news-card .content h3 {
      line-height: 33px;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0;
      max-width: 215px; }
    .medium-size .news-card .content p {
      display: none; }

.service-card {
  height: 404px;
  max-width: 300px;
  width: 100%;
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  margin: auto; }

.service-card .image {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden; }

.service-card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.service-card .content {
  padding: 15px 20px;
  width: calc(100% - 40px);
  height: 149px; }

.service-card .content h3 {
  font-size: 20px;
  padding: 0 15px 4px 0;
  border-bottom: 1px solid #ADCB08;
  display: inline-block; }

.service-card .content p {
  margin-top: 11px;
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  line-height: 19px;
  height: 78px;
  overflow: hidden; }

.service-card .content a {
  font-size: 14px;
  color: #555555;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: 9px;
  text-decoration: none; }

.aktuellt {
  padding: 50px 0; }

.header-section {
  text-align: center; }
  .header-section .c-header {
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px solid #ADCB08;
    display: inline-block; }
  .header-section .read-more {
    display: block;
    /* Visa alla nyheter: */
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 10px;
    margin-bottom: 31px; }

.tjanster-component {
  padding: 50px 0; }

.header-section {
  text-align: center; }
  .header-section .c-header {
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px solid #ADCB08;
    display: inline-block; }
  .header-section .read-more {
    display: block;
    /* Visa alla nyheter: */
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 10px;
    margin-bottom: 31px; }

.social-media {
  background-color: #5e8291 !important;
  height: 100px;
  position: relative; }
  .social-media .social-inner {
    height: 100%;
    position: relative; }
    .social-media .social-inner h3 {
      color: white;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0; }
    .social-media .social-inner .social-icons {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .social-media .social-inner .social-icons img {
        margin-left: 7.5px;
        margin-right: 7.5px;
        max-width: 40px;
        width: 100%; }

@media (max-width: 540px) {
  .social-media .social-inner h3 {
    display: none; }
  .social-media .social-inner .social-icons {
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    text-align: center;
    width: 100%; } }

.about-us {
  background-color: #5e8291 !important;
  padding: 50px 0; }

.about-us-inner {
  width: 60%;
  height: auto;
  margin: auto; }

.about-text {
  width: 70%;
  float: left;
  margin: 0 10px; }
  .about-text p {
    margin: 0; }

.about-text p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 19px; }

.about-img {
  width: 25%;
  float: left;
  margin: 0 1%; }

@media (max-width: 694px) {
  .about-img {
    width: 50%;
    margin-top: 20px; } }

.sub-tjanster {
  padding: 50px 0; }

.small-boxes.news .small-box, .small-boxes.services .small-box {
  width: 100%;
  height: 270px;
  display: block;
  background: #c8c8c8;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 10px; }
  .small-boxes.news .small-box .content, .small-boxes.services .small-box .content {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px; }
    .small-boxes.news .small-box .content h3, .small-boxes.services .small-box .content h3 {
      margin: 0;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0; }
    .small-boxes.news .small-box .content .date, .small-boxes.services .small-box .content .date {
      padding-bottom: 4px;
      border-bottom: 1px solid #ADCB08;
      margin-bottom: 5px;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      display: inline-block; }

.small-boxes.services .small-box .content .date {
  display: none !important; }

.subpage-top .hero-image-div .center-text h1 {
  border-bottom: 1px solid #ADCB08; }

.person {
  height: 338px;
  max-width: 300px;
  width: 100%;
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16); }
  .person .image {
    height: 195px;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .person .image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .person .content {
    padding: 15px 20px;
    width: calc(100% - 40px);
    height: 149px; }
    .person .content h3 {
      font-size: 20px;
      padding: 0 15px 4px 0;
      border-bottom: 1px solid #ADCB08;
      display: inline-block; }
    .person .content p {
      margin-top: 11px;
      font-size: 14px;
      color: #555555;
      letter-spacing: 0;
      line-height: 19px;
      height: 78px;
      overflow: hidden; }

.persons {
  padding: 50px 0;
  background: #f0f0f0; }

.contact-box h3 {
  margin: 0; }

.contact-box form {
  margin: 0; }

.contact-box .form-item {
  width: 100%;
  margin-bottom: 8px; }
  .contact-box .form-item label {
    font-size: 13px; }
  .contact-box .form-item input[type="text"] {
    width: 100%;
    color: #FFF;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #FFF; }

.contact-box input[type="submit"] {
  margin-top: 10px;
  color: #FFF;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  /* Skicka: */
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 6px 50px;
  cursor: pointer;
  display: block; }

.contact {
  background: #5E8291;
  padding: 20px 0;
  color: #FFF; }
  .contact h3 {
    margin: 0 0 10px 0; }
  .contact form {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .contact .form-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 8px;
    min-width: 190px;
    margin-bottom: 8px; }
    .contact .form-item label {
      font-size: 11px; }
    .contact .form-item input[type="text"] {
      width: 100%;
      color: #FFF;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-bottom: 2px;
      border-bottom: 1px solid #FFF; }
  .contact input[type="submit"] {
    color: #FFF;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    /* Skicka: */
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 6px 50px;
    cursor: pointer;
    display: block; }
